<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="mykailib.MyKai.Properties.MyKaiStrings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="mykailib.MyKai.Properties.MyKaiSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <mykailib.MyKai.Properties.MyKaiStrings>
      <setting name="msgConnectionSuccessful" serializeAs="String">
        <value>Connection successful.</value>
      </setting>
      <setting name="msgKaiNotResponding" serializeAs="String">
        <value>Kai is not responding. Check if the dongle is inserted, KaiSDK is running, Kai is on and connected.</value>
      </setting>
      <setting name="strKaiMessageboxHeader" serializeAs="String">
        <value>MyKai library message:</value>
      </setting>
      <setting name="msgConnectionWait" serializeAs="String">
        <value>Trying to connect</value>
      </setting>
    </mykailib.MyKai.Properties.MyKaiStrings>
    <mykailib.MyKai.Properties.MyKaiSettings>
      <setting name="kaiDataWorkspaceRelativePath" serializeAs="String">
        <value>.\workspace</value>
      </setting>
      <setting name="kaiDataDatasetRelativePath" serializeAs="String">
        <value>\datasets</value>
      </setting>
      <setting name="kaiDataGesturPatternRelativePath" serializeAs="String">
        <value>\patterns</value>
      </setting>
      <setting name="kaiManagerKAISDKRegistrySubkey" serializeAs="String">
        <value>SOFTWARE\Microsoft\Windows\CurrentVersion\Run</value>
      </setting>
      <setting name="kaiManagerKAIDSKProccessName" serializeAs="String">
        <value>Kai.SDK</value>
      </setting>
      <setting name="kaiManagerMsgCanNotRunKaiSDK" serializeAs="String">
        <value>Can not run Kai.SDK. Kibasic did not find the SDK’s registry key or the SDK.exe file.</value>
      </setting>
      <setting name="kaiGesture2DAllowedAnglePIDivider" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="kaiWFDrawingRedrawMargin" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="kaiWFDrawingStdCursorSize" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="kaiWFDrawingCrossmarkSize" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="kaiWFDrawingMaxStabilizingMarkRadius" serializeAs="String">
        <value>64</value>
      </setting>
      <setting name="kaiWFDrawingStabilizingCursorRedrawInterval" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="kaiWFDrawingMinStabilizingMarkRadius" serializeAs="String">
        <value>33</value>
      </setting>
      <setting name="kaiG2DStateMachineMaxStabilizingCounterValue"
        serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="kaiWFDrawingDefaultMode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="kaiConnectionTimeoutCounterMax" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="kaiGesture2DDefaultDecimationFrequency" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="kaiSDKAuthProcessName" serializeAs="String">
        <value>test</value>
      </setting>
      <setting name="kaiSDKAuthProcessSecret" serializeAs="String">
        <value>qwerty</value>
      </setting>
      <setting name="kaiSDKWasStopped" serializeAs="String">
        <value>The KAI SDK is now stpped. Click the "Run Kai SDK" button to continue. </value>
      </setting>
      <setting name="kaiWatchdogTimerInterval" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="kaiGestureLowPassFilterApplyOnEnding" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="kaiGestureLowPasFilterNumberOfEndingPoints" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="kaiGestureLowPassFilterFactor" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="kaiSimpleProfilerFilePath" serializeAs="String">
        <value>.\workspace\simple-profiler\last-instant-profile.csv</value>
      </setting>
    </mykailib.MyKai.Properties.MyKaiSettings>
  </userSettings>
</configuration>