<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="kaibasic.Mykai.Properties.MyKaiSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="kaibasic.MyKai.Data.Properties.KaiDataSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="kaibasic.MyKai.Manager.Properties.KaiManagerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="kaibasic.MyKai.Manager.Properties.KaiManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ConnectionTimeout" value="10" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <kaibasic.Mykai.Properties.MyKaiSettings>
      <setting name="kaiDataWorkspaceRelativePath" serializeAs="String">
        <value>.\workspace</value>
      </setting>
      <setting name="kaiDataDatasetRelativePath" serializeAs="String">
        <value>\datasets</value>
      </setting>
      <setting name="kaiDataGesturPatternRelativePath" serializeAs="String">
        <value>\patterns</value>
      </setting>
      <setting name="kaiManagerKAISDKRegistrySubkey" serializeAs="String">
        <value>SOFTWARE\Microsoft\Windows\CurrentVersion\Run</value>
      </setting>
      <setting name="kaiManagerKAIDSKProccessName" serializeAs="String">
        <value>Kai.SDK</value>
      </setting>
      <setting name="kaiManagerMsgCanNotRunKaiSDK" serializeAs="String">
        <value>Can not run Kai.SDK. Kibasic did not find the SDK’s registry key or the SDK.exe file.</value>
      </setting>
      <setting name="kaiGesture2DAllowedAnglePIDivider" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="kaiWFDrawingRedrawMargin" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="kaiWFDrawingStdCursorSize" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="kaiWFDrawingCrossmarkSize" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="kaiWFDrawingMaxStabilizingMarkRadius" serializeAs="String">
        <value>64</value>
      </setting>
      <setting name="kaiWFDrawingStabilizingCursorRedrawInterval" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="kaiWFDrawingPenDrawWidth" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="kaiWFDrawingMinStabilizingMarkRadius" serializeAs="String">
        <value>33</value>
      </setting>
      <setting name="kaiG2DStateMachineMaxStabilizingCounterValue"
        serializeAs="String">
        <value>25</value>
      </setting>
    </kaibasic.Mykai.Properties.MyKaiSettings>
    <kaibasic.MyKai.Data.Properties.KaiDataSettings>
      <setting name="kaiDataWorkspaceRelativePath" serializeAs="String">
        <value>.\workspace</value>
      </setting>
      <setting name="kaiDataDatasetRelativePath" serializeAs="String">
        <value>\datasets</value>
      </setting>
      <setting name="kaiDataGesturPatternRelativePath" serializeAs="String">
        <value>\patterns</value>
      </setting>
    </kaibasic.MyKai.Data.Properties.KaiDataSettings>
    <kaibasic.MyKai.Manager.Properties.KaiManagerSettings>
      <setting name="kaiManagerKAISDKRegistrySubkey" serializeAs="String">
        <value>SOFTWARE\Microsoft\Windows\CurrentVersion\Run</value>
      </setting>
      <setting name="kaiManagerKAIDSKProccessName" serializeAs="String">
        <value>Kai.SDK</value>
      </setting>
      <setting name="kaiManagerMsgCanNotRunKaiSDK" serializeAs="String">
        <value>Can not run Kai.SDK. Kibasic did not find the SDK’s registry key or the SDK.exe file.</value>
      </setting>
    </kaibasic.MyKai.Manager.Properties.KaiManagerSettings>
    <kaibasic.MyKai.Manager.Properties.KaiManager>
      <setting name="kaiManagerKAISDKRegistrySubkey" serializeAs="String">
        <value>SOFTWARE\Microsoft\Windows\CurrentVersion\Run</value>
      </setting>
      <setting name="kaiManagerKAIDSKProccessName" serializeAs="String">
        <value>Kai.SDK</value>
      </setting>
    </kaibasic.MyKai.Manager.Properties.KaiManager>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>